.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "one two three";
}

.one {

}

.two {

}

.three {

}

ul {
  display: block;
  list-style-type: none;
}

li {
  background: green;
  margin: 10px;

}
