body
{
background: green;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2.5fr;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
}

  header {
  grid-area: header;
  background-color: #E6E6FA;
  padding: 20px;
}
article {
  grid-area: content;
  background-color: #4CB49D;
  padding: 20px;
}
aside {
  grid-area: sidebar;
  background-color: #93D2C4;
  margin: 0px;
  padding: 0px;
}

content {
  grid-area: content;
  background-color: white;
}

footer {
  grid-area: footer;
  background-color: white;
}

ul li{
  list-style-type: none;
  justify-self: start;
}
